* {
box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0;
}
img {
display: block;
}
body { 
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFF;
}
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}
a {
text-decoration: none;
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.header {
padding: 24px 0;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-navigation {
display: flex;
align-items: center;
}
.header-container {
  display: flex;
align-items: center;
}
.header-logo { 
color: #4D5AE5;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.header-logo-studio {
color: #2E2F42;
}
.header-menu-list {
display: flex;
gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
position: relative;
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404BBF;
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-menu-link:hover,
.header-menu-link:focus {
color: #404BBF;
}
.header-address {
font-style: normal;
margin-left: auto;
}
.header-address-list {
display: flex;
gap: 40px;
}
.header-address-item {
}
.header-address-link {
color: var(--SLATE, #434455);
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover, 
.header-address-link:focus {
color: #404BBF;
}
.solutions {
background-color: #2E2F42;
padding: 188px 0;
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.solutions-title {
color: #FFF;
text-align: center;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}
.solutions-btn {
color: #FFF;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background-color: #4D5AE5;
padding: 16px 32px;
border-radius: 4px;
border: none;
display: block;
min-width: 169px;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-btn:hover,
.solutions-btn:focus {
background-color: #404BBF;
}
.assignments {
padding: 120px 0;
display: flex; 
}
.assignments-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
  }
.assignments-list {
display: flex;
gap: 24px;
}
.assignments-item {
width: calc((100% - 24px *3) /4);
}
.assignments-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.assignments-item-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list {
display: flex;
gap: 24px;
}
.team-item {
background-color: #FFF;
width: calc((100% - 24px *3) /4);
text-align: center;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
display: block;
max-width: 100%;
height: auto;
}
.worker {
padding: 32px 0;
}
.team-subtitle {
color: #2E2F42;
text-align: center;
font-size: 20px;;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-item-text {
color: #434455;
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-soc-list {
display: flex;
justify-content: center;
gap: 24px;
}
.team-soc-item {
width: 40px;
height: 40px;
}
.team-soc-link {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
background-color: #404BBF;
}
.team-soc-icon {
fill: #f4f4fd;
}
.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}
.portfolio-item {
width: calc((100% - 24px *2) /3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-cover-wrap {
position: relative;
overflow: hidden;
}
.portfolio-img {
display: block;
max-width: 100%;
height: auto;
}
.portfolio-cover-text {
position: absolute;
top: 0;
left: 0;
padding: 40px 32px;
display: flex;
align-items: center;
background-color: var(--IRIS, #4D5AE5);
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-text {
font-size: 16px;
font-style: normal;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--CLOUD, #F4F4FD);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.portfolio-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-item-text {
color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer {
background-color: var(--NAVY-BLUE, #2E2F42);
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}
.footer-logo {
color: var(--IRIS, #4D5AE5);
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;
}
.footer-logo-studio {
color: var(--CLOUD, #F4F4FD);
}   
.footer-text {
color: var(--CLOUD, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}
.footer-soc-text {
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--WHITE, #FFF);
margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4D5AE5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--GREEN, #31D0AA);
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.footer-bottom {
display: inline-block;
}
.footer-form {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.footer-form-email {
display: flex;
gap: 24px;
}
.footer-bottom-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 80px;
  margin-bottom: 16px;
  }
.footer-input {
width: 264px;
height: 40px;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
margin-left: 80px;
margin-right: 24px;
padding-left: 16px;
background-color: transparent;
border-radius: 4px;
border: 1px solid #FFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
color: #FFFFFF;
}
.footer-input::placeholder {
color: #FFF;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
}
.footer-form-btn {
min-width: 165px;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
padding: 8px 24px;
border-radius: 4px;
background: #4D5AE5;
border: none;
}
.footer-form-icon {
  fill: #FFFFFF;
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:
  rgba(46, 47, 66, 0.40);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
width: 408px;
min-height: 584px;
background-color: #FCFCFC;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
background-color: #E7E9FC;
fill: #2E2F42;
width: 24px;
height: 24px;
border: 1px solid  rgba(0, 0, 0, 0.10);
border-radius: 50%;
cursor: pointer;
padding: 0;
position: absolute;
right: 24px;
top: 24px;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal > .modal-btn:hover,
.modal > .modal-btn:focus {
  fill: #FFFFFF;
}
.modal-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
display: flex;
justify-content: center;
text-align: center;
color: #2E2F42;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-field {
margin-bottom: 8px;
} 
.modal-input {
width: 360px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: inherit;
color: #2E2F42;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}
.modal-label {
display: block;
margin-bottom: 4px;
color: #8E8F99;
font-size: 12px;
font-style: normal;
line-height: 1.17;
letter-spacing: 0.04em;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
margin-bottom: 16px;
}
.modal-comment-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
width: 360px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: inherit;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
}
.modal-comment-text:focus {
border-color: #4D5AE5;
}
.modal-text::placeholder {
color: rgba(46, 47, 66, 0.40);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.04em;
}
.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal-checkbox {
margin-bottom: 24px;
}
.check-text {
color: #8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 24px;
}
.check-link {
color: #4D5AE5;
text-decoration-line: underline;
}
.check-text-span {
display: inline-flex;
align-items: center;
justify-content: center;
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.40);
margin-right: 8px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-text span {
background-color:  #404BBF;
border: none;
fill: #F4F4FD;
}
.btn-send {
display: block;
margin-left: 95px;
min-width: 169px;
height: 56px;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
padding: 16px 32px;
border: none;
border-radius: 4px;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








